<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>

<body ng-app="app" ng-cloak>
    <div ng-controller="appController as vm">
        <div layout="column" layout-align="center center">
            <h1>Hello from App controller: {{vm.name}}!</h1>
            <div layout="row" layout-align="space-around center">
                <label>Name(app): </label>
                <input type="text" ng-model="vm.name" placeholder="Enter a name here">
            </div>
            <span>SelectedItem: {{vm.selectedItem.id}} {{vm.selectedItem.name}}</span>
            <div>
                <label>Date 1:</label>
                <input id="date1" type="date" ng-model="vm.date1" placeholder="Enter date 1"/>
            </div>
            <div>
                <label>Date 2:</label>
                <input id="date2" type="date" ng-model="vm.date2" placeholder="Enter date 2" min="{{vm.date1 | date:'yyyy-MM-dd'}}"/>
            </div>
            <p>
                The app controller passes the {name} object to its components via their bindings: setup. As {name} is change in app, it will
                be reflected in all of its child components.
            </p>
        </div>
        <hr/>
        <div layout="row" layout-align="space-around default">
            <div flex>
                <list name="vm.name" listItems="vm.listItems" selectedItem="vm.selectedItem">
                </list>
                <detail name="vm.name">
                </detail>
            </div>
            <div flex>
                <parent name="vm.name" ng-model="parent.name"></parent>
            </div>



        </div>
        <hr/>

    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!--<script src="components.js"></script>-->
    <script src="app.js"></script>


</body>

</html>