<div class="md-padding">
    <md-content layout-padding>
        <h2>Hello from Parent Component: {{parent.name}}!</h2>
        <p>
            The parent component uses one-way binding with the app controller to share the {name}
            object.  So as parent changes the {name}, app will keep its version of {name}.
        </p>
        <label>Name(parent):</label>
        <input type="text" ng-model="parent.name" placeholder="Enter parent name here">
    </md-content>
    <md-content layout-padding>
        <child name="parent.name" ng-model="child.name"></child>
    </md-content>
</div>